:root {
  --main-bg: var(--gray-4);
  --main-font-color: var(--darkest-gray);
  --main-red: rgba(239, 73, 52, 1);
  --hover-red: rgba(212, 56, 36, 1);
  --darkest-gray: rgba(17, 17, 17, 1);
  --gray-1: rgba(51, 51, 51, 1);
  --gray-2: rgba(101, 101, 101, 1);
  --gray-3: rgba(204, 204, 204, 1);
  --gray-4: rgba(225, 225, 225, 1);
  --gray-hover: rgba(241, 241, 241, 1);

  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  background-color: var(--gray-4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
